<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cepService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <cepService.Properties.Settings>
            <setting name="appKeyWebManiaCep" serializeAs="String">
                <value>ikyU0WL1M0X6BhyIRO0dAsRglTA81HSr</value>
            </setting>
            <setting name="appSecretWeManiaCep" serializeAs="String">
                <value>WcnaDY2xNKWehyAKUW63rlEvDPj42JCw0cXNZHwampaBRcFf</value>
            </setting>
        </cepService.Properties.Settings>
    </applicationSettings>
</configuration>